.tag_title {
    color: rgb(167, 183, 183);
}

.tags {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 100%;
    overflow: scroll;
    flex-wrap: wrap;

    border: 1px solid green;
}

.tags::-webkit-scrollbar {
    display: none;
}

.tags li {
    /*float: left;
    */
    list-style: none;
    padding: 2px 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5;
    white-space: nowrap;
    cursor: pointer;
}

.playlist {
    width: 100vw;
}

.playlist .playlist_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.playlist .playlist_list li {
    width: 150px;
    height: 150px;
    /* overflow: hidden; */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px;
    flex: 1 1 auto;
    margin: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.playlist .playlist_list li a {
    display: block;
    text-align: center;
}

/* .playlist .playlist_list li span {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;

} */

.playlist .playlist_list li span img {
    display: block;
    width: 100px;
    height: 100px;
}

.playlist .playlist_list li {
    margin-top: 5px;
    text-overflow: clip;
    font-size: 12px;
    cursor: pointer;
}

.more_palylist {
    float: right;
}

.title_bar {
    padding: 0 5px;
    border-bottom: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.daily_recommend li {
    position: relative;
    width: 90%;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 10px;
    /* vertical-align: middle; */
    /* line-height: 40px; */
    border-bottom: 1px solid #ccc;
}

.daily_recommend li .songimg {
    display: inline-block;
    width: 39px;
    margin-right: 20px;
}

.daily_recommend li .songname {
    display: inline-block;
    height: 100%;
    line-height: 40px;
    position: absolute;
    top: 0;
}

.box {
    width: 100vw
}