.bannerbox {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 39vw;
}

.bannerbox .banner {
    /*width: 100%;
    */
    clear: both;
    overflow: hidden;

    /* animation: banner 11s linear infinite; */


}

.banner .banneritem {
    width: 100vw;
    float: left;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.banner .banneritem img {
    width: 100%;
    display: block;

}

.banner .banneritem .typetitle {
    position: absolute;
    background-color: rgb(255, 255, 255);
    left: 0;
    bottom: 0;

}

.left,
.right {
    position: absolute;
    display: none;
    height: 150px;
    width: 10vw;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(232, 34, 34, .5);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.left {
    left: 0;
    border-radius: 50% 0 0 50%;
    -webkit-border-radius: 50% 0 0 50%;
    -moz-border-radius: 50% 0 0 50%;
    -ms-border-radius: 50% 0 0 50%;
    -o-border-radius: 50% 0 0 50%;
}

.right {
    left: 90vw;
    border-radius: 0 50% 50% 0;
    -webkit-border-radius: 0 50% 50% 0;
    -moz-border-radius: 0 50% 50% 0;
    -ms-border-radius: 0 50% 50% 0;
    -o-border-radius: 0 50% 50% 0;
}

.bannerbox:hover .right,
.bannerbox:hover .left {
    display: block;
}